{% if S_TOPICTRANSLATESINGLE_ACTIVE %}
<div class="gtranslate-footer-credit">
    <a href="https://gtranslate.io" target="_blank" rel="nofollow noopener" class="gt-badge">
        <span class="gt-text">{{ lang('TOPIC_TRANSLATE_POWERED') }} </span>
        <span class="gt-google-wordmark" aria-hidden="true">
            <span class="gt-g">G</span><span class="gt-o1">o</span><span class="gt-o2">o</span><span class="gt-g">g</span><span class="gt-l">l</span><span class="gt-e">e</span>
            <span class="gt-google-translate">Translate</span>
        </span>
    </a>
</div>
{% endif %}
