{% if S_TOPICTRANSLATESINGLE_ACTIVE %}
<li class="topictranslate-item" style="position: relative; display: inline-block;">
    <a href="#" class="button button-icon-only btn-translate-custom" title="{L_TOPIC_TRANSLATE_TITLE}" aria-label="{L_TOPIC_TRANSLATE_TITLE}" data-topictranslate-toggle="1" data-translate-title="{L_TOPIC_TRANSLATE_TITLE}" aria-expanded="false">
        <i class="icon fa-language fa-fw" aria-hidden="true"></i>
        <span class="visually-hidden">{L_TOPIC_TRANSLATE_TITLE}</span>
    </a>
    <div class="gtranslate_wrapper" hidden aria-hidden="true"></div>
</li>
{% endif %}
