{% if S_TOPICTRANSLATESINGLE_ACTIVE %}
<li class="topictranslate-item">
    <button type="button"
        class="button button-icon-only btn-translate-custom"
        title="{L_TOPIC_TRANSLATE_TITLE}"
        aria-label="{L_TOPIC_TRANSLATE_TITLE}"
        aria-haspopup="dialog"
        aria-controls="topictranslate-app"
        aria-expanded="false"
        data-topictranslate-toggle="1"
        data-post-id="{postrow.POST_ID}">
        <i class="icon fa-language fa-fw" aria-hidden="true"></i>
        <span class="visually-hidden">{L_TOPIC_TRANSLATE_TITLE}</span>
    </button>
</li>
{% endif %}
